<h1>Edit Wiki</h1>

<%= form_for @wiki do |f| %>
    <% if @wiki.errors.any? %>
        <div class="alert alert-danger">
            <h4><%= pluralize(@wiki.errors.count, "error") %></h4>
            <ul>
                <% @wiki.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
            <%= form_group_tag(@wiki.errors[:title]) do %>
                <%= f.label :title %>
                <%= f.text_field :title, class: "form-control", placeholder: "Enter wiki title" %>
            <% end %>

            <%= form_group_tag(@wiki.errors[:body]) do %>
                <%= f.label :body %>
                <%= f.text_area :body, rows: 8, class: "form-control", placeholder: "Enter wiki body" %>
            <% end %>

            <%= form_group_tag(@wiki.errors[:private]) do %>
                <%= f.label :private, class: "checkbox" do %>
                    <%= f.check_box :private %> Private wiki
                <% end %>
            <% end %>
        </div>
        <div class="col-md-6">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 pull-right edit-div">
            <%= f.submit "Update Wiki", class: "btn btn-success edit-button" %>
        </div>
    </div>
<% end%>
