<div class="row">
    <div class="col-md-8">
        <h1><%= @wiki.title %></h1>
        <h4>
            submitted <%= time_ago_in_words(@wiki.created_at) %> ago by <%= @wiki.user.email %>
        </h4>
    </div>
    <div class="col-md-4 edit-div">
        <%= link_to "Edit Wiki", edit_wiki_path(@wiki), class: "btn btn-success edit-button" %>
    </div>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <p><%= @wiki.body %></p>
    </div>
</div>
